projects/04-aws-data-platform/step_functions/pipeline.asl.json
{
  "Comment": "Pipeline de reconciliacao: bronze -> silver -> gold",
  "StartAt": "BronzeToSilver",
  "States": {
    "BronzeToSilver": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "bronze-to-silver",
        "Arguments": {
          "--S3_BUCKET.$": "$.s3_bucket"
        }
      },
      "ResultPath": "$.bronze_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "SilverToGold"
    },
    "SilverToGold": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "silver-to-gold",
        "Arguments": {
          "--S3_BUCKET.$": "$.s3_bucket"
        }
      },
      "ResultPath": "$.gold_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "PipelineCompleto"
    },
    "PipelineCompleto": {
      "Type": "Succeed"
    }
  }
}
